meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Componente formativo intermedio
meta(meta name="description" content="En el presente apartado,  se realizará un recuento de los conceptos más importantes de la estadística. También se trabajarán ejemplos que darán cuenta e ilustran los conceptos abordados y necesarios para entender frente a los conceptos relacionados con la estadística.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")