h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li
                span 240201517 - 03 Resolver problemas matemáticos a partir de situaciones generadas en el contexto social  y productivo.