.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Área:
            | superficie acotada, que se distingue de lo que la rodea.
        p 
            strong.mr-2 Conjunto:
            | es una colección de elementos de características similares considerada en sí misma como un objeto, un conjunto es aquel que está definido por sus miembros y nada más.
        p 
            strong.mr-2 Coordenada:
            | línea recta que sirve para determinar la posición de un punto en un plano.
        p 
            strong.mr-2 Curva:
            | es una línea cuyos puntos sucesivos cambian continuamente de dirección sin formar ángulo.
        p 
            strong.mr-2 Dimensión:
            | magnitud que junto con otras; sirve para definir un fenómeno físico; específicamente, magnitud o magnitudes que se consideran en el espacio para determinar el tamaño de las cosas.
        p 
            strong.mr-2 Eje:
            | recta alrededor de la cual se supone que gira una línea para generar una superficie o una superficie para generar un cuerpo.
        p 
            strong.mr-2 Igualdad:
            | se puede establecer mediante la comparación de dos objetos o unidades, las cuales una es similar a la otra.
        p 
            strong.mr-2 Incógnita:
            | es un elemento constitutivo de una ecuación matemática, y describe una propiedad verificada por un valor desconocido, por lo general un número.
        p 
            strong.mr-2 Línea:
            | sucesión continua de puntos en el espacio.
        p 
            strong.mr-2 Magnitud:
            | es una medida asignada para cada uno de los objetos de un conjunto medible. Formada por objetos matemáticos.
        p 
            strong.mr-2 Medida:
            | cantidad que resulta de medir una magnitud.
        p 
            strong.mr-2 Oblicuo:
            | que forma con otra línea o plano un ángulo que no es recto.
        p 
            strong.mr-2 Perímetro:
            | es la línea o el conjunto de líneas que forman el contorno de una superficie o de una figura.
        p 
            strong.mr-2 Polígono:
            | figura geométrica plana que está limitada por tres o más rectas y tiene tres o más ángulos o vértices.
        p 
            strong.mr-2 Proporción:
            | es la relación de igualdad entre dos razones matemáticas, o la comparación entre dos razones matemáticas.
        p 
            strong.mr-2 Razón:
            | es una razón binaria entre magnitudes, se expresa como a es a b, o a: b, numéricamente una razón se puede expresar como una fracción o un decimal.
        p 
            strong.mr-2 Teorema:
            | proposición matemática demostrable a partir de axiomas o proposiciones ya demostradas.
        p 
            strong.mr-2 Trigonometría:
            | es una rama de matemáticas cuyo significado etimológico es la medición de triángulos.
        p 
            strong.mr-2 Volumen:
            | se define como el espacio que ocupa un cuerpo.