include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Budnick, F., 1997. Matemáticas Aplicadas para Administración, Economía y Ciencias Sociales, Tercera Edición. Mc. Graw Hill. México.", "")

        +referenciaItem("Cedeño, Orlando. 'Sistema Internacional De Unidades De Medida (SI).' Informador Técnico (2012): Informador Técnico; Vol. 76 (2012); 103. Web.", "")

        +referenciaItem("Sullivan, M., 1997. Precálculo. Cuarta Edición. Pearson Educación. México.", "")